@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.meta {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid $color-gray-border;

  &__date {
  }
}
